# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
.env/
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Mac and Windows system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files (optional, if they're large or sensitive)
*.csv
